.body{
    background-color: #CECECE;
    background-image: url("https://img.freepik.com/premium-photo/fast-fashion-store-showcasing-latest-trends-styles-customers_124507-151250.jpg?w=2000");
}

header {
    background-color:rgb(81, 169, 175);
    color: rgb(238, 230, 230);
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 90px;
    margin-top: -200px;
  }
  
  header h1 {
    font-size: 25px;
    text-align: center;
    color: black;
  }
  
  nav ul {
    list-style-type: none;
    
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 15px;
    border-radius: 5px 0px 5px 0px;
    padding: 1px 3px 1px 3px;
    font-size: 20px;
    
  }
  nav ul li :hover{
    color: rgb(48, 42, 54);
    transition: 1s;
    font-style: initial;
  }


.foryo-img{
    display: block;
    height: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}

.card-container{
    background-color: white;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 410px;
    height: 425px;
    border-radius: 15px;    
    border: 1px solid black;
}

.heading{
    text-align: center;
    margin-left: 20px;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Georgia';
    margin-top: 15px;
}

.username-text{
    font-family: verdana;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 35px;
}

.username-input{
    font-family: verdana;
    margin-left: 50px;
    width:320px;
    margin-top: -2px;
    font-size: 20px;
    border-radius: 5px;
    border: 3px double black;
    box-shadow: 3px 3px 3px 0px;
    height: 35px;
}

.username-input:hover{
    font-family: verdana;
    margin-left: 50px;
    width:320px;
    margin-top: -2px;
    font-size: 20px;
    border-radius: 5px;
    border: 3px double grey;
    box-shadow: 3px 3px 5px 0px;
}

.password-input{
    font-family: verdana;
    margin-left: 50px;
    width:320px;
    margin-top: -5px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px double black;
    box-shadow: 3px 3px 3px 0px;
    height: 35px;
}

.password-input:hover{
    font-family: verdana;
    margin-left: 50px;
    width:320px;
    margin-top: -5px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px double grey;
    box-shadow: 3px 3px 5px 0px;
}

.submit-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 20px;
    font-family: verdana;
    border-radius: 12px;
    padding: 8px 25px;
    box-shadow: 2px 2px 3px 0px;
    background-color: #ebe8e8;  
}

.submit-btn:hover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 20px;
    font-family: verdana;
    border-radius: 12px;
    padding: 8px 25px;
    box-shadow: 2px 2px 3px 0px;
    background-color: #b0a5a5;
    border-radius: 2px solid black;  
    transition: 1s;
}

.register-page{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 350px;
    height: 50px;
}

.new-cust-line{
    text-align: left;
    font-size: 18px;
    font-family: Verdana;
    margin-top: 14px;
    padding-left: 10px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.link{
    font-size: 24px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
}

.submit{
    background-color: #ebe8e8;
    width: 380px;
    margin-left: -10px;
    border-radius: 15px;
    padding: 3px;
    margin-top: -5px;
}

.submit:hover{
    background-color: #ebe8e8;
    width: 380px;
    margin-left: -10px;
    border-radius: 15px;
    padding: 3px;
    margin-top: -5px;
    background-color: #b0a5a5;
    border-radius: 2px solid black;  
    transition: 1s;
}
