/*css of web page onsale.html*/
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

#bgimg{
        width: 100%;
}
h1,h2,h3{
    margin: 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}

.product img {
    max-width: 200px;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 10px;
}

.sale-badge {
    background-color: #ff5252;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
}
.btn{
    padding: 10px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    cursor: pointer;
    background-color: grey;
}
.btn:hover{
    background-color: greenyellow;
}