.body{
    background-color: #CECECE;
    background-image: url("https://img.freepik.com/premium-photo/fast-fashion-store-showcasing-latest-trends-styles-customers_124507-151250.jpg?w=2000");
}

.head-container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;      
}

.foryo-img{
    display: block;
    height: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}

.foryo-img:hover{
    display: block;
    width: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.img-heading{
    text-align: center;
    font-family:'courier';
    font-weight: bold;
    font-size: 25px;
}

.card-container{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    height: 580px;
    border-radius: 15px;    
    border: 1px solid black;
    margin-top: 100px;
}

.heading{
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
    font-family: 'verdana';
}

.username-text{
    font-family: verdana;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
}

.username-input{
    font-family: verdana;
    margin-left: 50px;
    width:330px;
    margin-top: -5px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 0px;
    height: 35px;
}

.username-input:hover{
    font-family: verdana;
    margin-left: 50px;
    width:330px;
    margin-top: -5px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 3px 3px 5px 0px;
}

.password-input{
    font-family: verdana;
    margin-left: 50px;
    width:330px;
    margin-top: -5px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 0px;
    height: 35px;
}

.password-input:hover{
    font-family: verdana;
    margin-left: 50px;
    width:330px;
    margin-top: -5px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 3px 3px 5px 0px;
}

.submit-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 20px;
    font-family: verdana;
    border-radius: 12px;
    padding: 8px 25px;
    box-shadow: 2px 2px 3px 0px;
    background-color: #f2f2f2;  
}

.submit-btn:hover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 21px;
    font-family: verdana;
    border-radius: 12px;
    padding: 8px 25px;
    box-shadow: 2px 2px 3px 0px;
    background-color: #b0a5a5; 
    transition: 1s;
}

